@model CarLocadora.Modelo.Models.ManutencaoVeiculoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ManutencaoVeiculoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garantia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garantia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VeiculoPlaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VeiculoPlaca)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
