@model IEnumerable<CarLocadora.Modelo.Models.ManutencaoVeiculoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeiculoPlaca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VeiculoPlaca)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
