@model CarLocadora.Modelo.Models.VeiculosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VeiculosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chassi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chassi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combustivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combustivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcionais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcionais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
