@model IEnumerable<CarLocadora.Modelo.Models.VeiculosModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combustivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opcionais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chassi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combustivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opcionais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  valor=item.Placa  }) |
                @Html.ActionLink("Details", "Details", new {  valor=item.Placa  }) |
                @Html.ActionLink("Delete", "Delete", new { valor=item.Placa  })
            </td>
        </tr>
}
    </tbody>
</table>
